body{
    font-family:Arial, Helvetica, sans-serif;
}
h1{
  color:brown;
  text-transform: uppercase;  
}
td{
    font-size:12px;
    font-weight:bolder;
}
input,textarea{
    font-size:12px;
    width:150px;
}
#btnreset{
    background-color:red;
    color:white;
}

#btnsubmit{
    background-color:blue;
    color:white;
}